@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --dark-gray: #24292e;
  --light-gray: #2b3137;
  --pale-blue: #fafbfc;
  --white: #ffffff;
  --green: #2dba4e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--light-gray);
  color: white;
  padding: 0 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
  min-height: 10vh;
}

header span {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  list-style: none;
  width: 100%;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

ul li a {
  text-align: center;
}

ul li a:hover {
  border-bottom: 2px solid white;
  transition: border-bottom 1s ease;
}

main {
  overflow: hidden;
  display: grid;
  grid-template-areas: 'article img';
  min-height: 43vh;
  padding: 2em;
}

main article {
  max-width: 60vh;
  grid-area: article;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

h1 {
  font-size: 30px;
}

.title {
  font-size: 22px;
}

.buttons {
  margin: 1em 0;
  display: flex;
  align-items: center;
  gap: 2em;
  min-height: 2vh;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
  min-height: 50px;
  text-transform: uppercase;
  border: unset;
}

.btn--black {
  background-color: white;
  color: var(--dark-gray);
  border: 1px solid black;
  font-weight: bolder;
  transition: all 1s ease;
}

.btn--black:hover {
  background-color: transparent;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  letter-spacing: 3px;
}

.btn--white {
  background-color: transparent;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  letter-spacing: 3px;
  transition: all 1s ease;
}

.btn--white:hover {
  background-color: white;
  color: black;
  font-weight: 700;
  border: 1px solid rgb(80, 76, 76);
  letter-spacing: 3px;
}

main figure {
  display: flex;
  align-items: center;
  grid-area: img;
}

main figure img {
  width: 100%;
  max-width: 280px;
  object-fit: cover;
  border-radius: 15em;
}

.calc {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b3137;
  gap: 1.5em;
}

.calc article {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5em;
}

.calc select {
  border: none;
  min-height: 30px;
  font-weight: bolder;
  font-size: 15px;
}

.calc form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.calc button {
  display: grid;
  place-self: center;
  width: 250px;
  cursor: pointer;
}

.calc form .input {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.calc form .input input {
  min-height: 25px;
  outline: none;
  padding-left: .5em;
}

.hidden {
  display: none;
}

.who {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.who article {
  display: flex;
  flex-direction: row;
  min-height: 35vh;
  justify-content: space-evenly;
  gap: 2em;
}

.who div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background-color: white;
  color: black
}
@media screen (min-width: 375px) {
main {
  grid-template-areas: "a"
  "b";
}
  main article {
grid-area: a;
  }
  main figure {
grid-area: b;
  }
  .who article {
flex-direction: column;
  }

}
